<div>
  <!-- <div class='table-cell'><%=id%></div> -->
  <div class='table-cell'><%=name%></div>
  <div class='table-cell'>
    <div class="tooltip">
      <%=(type == 1 ? 'I' : 'E')%>
      <span class="tooltip-text"><%=(type == 1 ? 'Individual' : 'Entity')%></span>
    </div>
  </div>
  <div class='table-cell'><%=userNumber%></div>
  <div class='table-cell actions'>
    <button type="button" data-id="<%=id%>" data-action='edit'>Edit</button>
    <button type="button" data-id="<%=id%>" data-action='remove'>Remove</button>
  </div>
</div>